<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595185158177-ddsqjom1m26t4kst5jnjcks8sl9v49fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595185158177-ddsqjom1m26t4kst5jnjcks8sl9v49fo</string>
	<key>API_KEY</key>
	<string>AIzaSyAXCV4MZj8-eSNsXDU63-U2j95X9qtBEyU</string>
	<key>GCM_SENDER_ID</key>
	<string>595185158177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kylerwong.whatsup</string>
	<key>PROJECT_ID</key>
	<string>whatsup-a8439</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-a8439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595185158177:ios:16f1deb160b63a8925fb60</string>
	<key>DATABASE_URL</key>
	<string>https://whatsup-a8439.firebaseio.com</string>
</dict>
</plist>